<div class="root">
  <div class="external">
    <div class="inside-content">
      <div class="hero-content" fxLayout="column" fxLayoutAlign="center center">
        <h1>Who Am I?</h1>
        <h2>"I'm just a simple developer trying to make his way in the universe..."</h2>
      </div>
    </div>
  </div>
<!--  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" class="hero">-->
<!--    <div class="hero-content" fxFlex.gt-sm="60%" fxLayout="column" fxLayoutAlign="center center">-->
<!--      <h1>Who Am I?</h1>-->
<!--      <h2>"I'm just a simple developer trying to make his way in the universe..."</h2>-->
<!--    </div>-->
<!--    <div class="hero-image" fxFlex.gt-sm="40%"></div>-->
<!--  </div>-->
</div>
